.ToolBox{
    height: 350px;
    width: 30%;
    justify-self: end;
}


div.ButtonToolbox.seleccionado img {
  -webkit-filter: brightness(110%) saturate(160%) sepia(30%) hue-rotate(350deg);
  filter: brightness(110%) saturate(160%) sepia(100%) hue-rotate(350deg);
}

h3 {
    color:orange;
}

table {
    background-color: white;
    border-radius: 2%;
    margin: 0 auto;
}