.Cell {

}

.Cell.selected img {
    -webkit-filter: brightness(110%) saturate(160%) sepia(30%) hue-rotate(350deg);
    filter: brightness(110%) saturate(160%) sepia(100%) hue-rotate(350deg);
}

.WEST {
    transform: rotate(90deg);
}

.SOUTH {
    transform: none;
}

.NORTH {
    transform: rotate(180deg);
}

.EAST {
    transform: rotate(270deg);
}